:root {
  --fifteen-minutes: 1.1rem;
  --minute: calc(1/15*var(--fifteen-minutes));
}

.schedules {
  display: flex;
  flex-direction: row;
}

#selected-schedule {
  order: -1;
}

#selected-schedule > .time-block.work {
  background-color: crimson;
}

.timescale {
  order: -2;
}

.timescale > div {
  height: var(--fifteen-minutes)
}

.blocks-container {
  border: 1px solid black;
  margin-left: 10px;
}

.time-block {
  background-color: white;
  width: 25px;
}

.time-block.work {
  background-color: blue;
}

main {
  display: flex;
  width: 90%;
  margin: auto;
}

section {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

section .time-block {
  border: 1px solid black;
}