:root {
  --fifteen-minutes: 1.1rem;
  --minute: calc(1/15*var(--fifteen-minutes));
}

.schedules {
  display: flex;
  flex-direction: row;
}

.timescale > div {
  height: var(--fifteen-minutes)
}

.blocks-container {
  border: 1px solid black;
  margin-left: 10px;
}

.blocks-container > div {
  width: 25px;
}

main {
  display: flex;
  width: 90%;
  margin: auto;
}

form {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}